.blue {

    color: blue;
}

.background {

    background-color: rgb(154, 233, 232);
    color: blue;
}

.grey {

    background-color: rgb(216, 198, 198);
}


span {

    color: rgb(122, 26, 225)
}


.padding {

    margin-left: 103px;
}

.pa {



    margin-left: 100px;
}